<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wumpusworldgame">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application

        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_red_monster"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_red_monster_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <!-- activity principale, launcher dell'app -->
        <activity android:name=".appLaunch.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Game Activity: Hero Side and Wumpus Side -->
        <activity
            android:name=".gameActivities.HeroSide"
            android:label="@string/hero_side_title"
            android:launchMode="singleTop"
            android:parentActivityName=".appLaunch.MainActivity" />
        <activity
            android:name=".gameActivities.WumpusSide"
            android:label="@string/wumpus_side_title"
            android:launchMode="singleTop"
            android:parentActivityName=".appLaunch.MainActivity" />
        <!-- Settings -->
        <activity
            android:name=".mainMenuItems.settings.GameSettingsActivity"
            android:label="@string/game_settings_title"
            android:parentActivityName=".appLaunch.MainActivity" />
        <!-- Menu Activity -->
        <activity
            android:name=".mainMenuItems.GameInformationActivity"
            android:label="@string/game_info_title"
            android:parentActivityName=".appLaunch.MainActivity" />
        <activity
            android:name=".mainMenuItems.score.RankActivity"
            android:label="@string/score_title"
            android:parentActivityName=".appLaunch.MainActivity" />
        <!-- Automatic Player -->
        <activity android:name=".gameMenuItems.automaticMode.AutomaticGameSession"
            android:label="Automatic Game"/>
        <!-- Game Tutorial -->
        <activity
            android:name=".mainMenuItems.tutorial.MainTutorialActivity"
            android:label="@string/main_tutorial_title"
            android:parentActivityName=".appLaunch.MainActivity" />
        <activity
            android:name=".mainMenuItems.tutorial.GamePadMainTutorialActivity"
            android:label="@string/main_tutorial_controls_title"
            android:parentActivityName=".mainMenuItems.tutorial.MainTutorialActivity" />
        <!-- Mode Tutorail -->
        <activity
            android:name=".gameMenuItems.gameModeTutorials.HeroModeTutorial"
            android:label="@string/hero_mode_tutorial_title"
            android:parentActivityName=".gameActivities.HeroSide" />
        <activity
            android:name=".gameMenuItems.gameModeTutorials.WumpusModeTutorial"
            android:label="@string/wumpus_mode_tutorial_title"
            android:parentActivityName=".gameActivities.WumpusSide" />
        <!-- File sharing provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>